@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.error_flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  color: #ff6060;
}
.error_title {
  margin: 80px 0 10px 0;
  font-weight: 700;
  font-size: 288px;

  @media (max-width: 1024px) {
    font-size: 96px;
  }

}
.error_p {
  font-size: 36px;
  line-height: 26px;

  @media (max-width: 1024px) {
    font-size: 18px;
    text-align: center;
    margin-top: 113px;
  }
}
.error_return {
  margin-top: 150px;
  text-decoration: underline;
  font-size: 18px;
  color: #ff6060;

  @media (max-width: 1024px) {
    font-size: 14px;
  }
}