.header {
    width: 100%;
    margin-top: 45px;

    @media (max-width: 1024px) {
      margin-top: 20px;

   }
 }

 .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav_logo {
    width: 180px;

    @media (max-width: 1024px) {
      width: 115px;
   }
 }

.nav_link {
    color: #FF6060;
    text-decoration: none;
    font-size: 24px;
    padding: 0 0 0 60px;

    @media (max-width: 1024px) {
      font-size: 17px;
      padding: 0 0 0 15px;
   }
 }

 .nav_link.active:hover {
    filter: brightness(0.9);
 }
 
 .nav_link.active {
    text-decoration: underline;
 }
 

